{erl_opts, [debug_info, report]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{clean_files, ["ebin/*.beam"]}.
{deps,[
       {gproc, ".*", {git, "https://github.com/theorix/gproc.git", {tag,"0.8.1"}}},
       {kafkamocker, ".*", {git, "https://github.com/helpshift/kafkamocker", {branch,"feature/network-partitions"}}}
]}.
{sub_dirs, ["src"]}.
